.HomePage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0e0b36;

  h1, h1:after {
    text-transform: uppercase;
    font-weight: 900;
    color: #ff8fc2;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    letter-spacing: .15em;
    padding: .2em 0 .25em 0;
  }

  h1 {
    font-size: 4em;
    z-index: 100;
    text-shadow: .04em .04em 0 #8f649f;
  }

  h1:after {
    content: attr(data-shadow-text);
    color: rgba(0,0,0,.25);
    text-shadow: none;
    position: absolute;
    left: .0875em;
    top: .0875em;
    z-index: -1;
  }
}