.Legend {
  color: #101357;
  font-weight: bold;
}
.FieldSet {
  border-radius: 2px;;
  background: #fff;
  border: 1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.Submit {
  margin-top: 1em;
  border: 0;
  background: #101357;
  padding: 0.25em;
  width: 100%;
  color: #f7f7f7;
  border-radius: 2px;
  outline: none;
}